.board {
  font-family: sans-serif;
  width: 75%;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  width: 75px;
  height: 75px;
}

th {
  text-align: center;
  vertical-align: center;
}

td {
  font-size: 12px;
  vertical-align: top;
}

.w-pawn {
  background-image: url('images/white-pawn.png');
  background-position: center;
  background-repeat: no-repeat;
}

.b-pawn {
  background-image: url('images/black-pawn.png');
  background-position: center;
  background-repeat: no-repeat;
}

.possible {
  background-color: yellow;
}